doctype html
html
    head
        title Recruitment Card Challenge
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="@images/favicon.png" rel="icon")
        link(href="@styles/app.scss" rel="stylesheet")
    body
        block content
        script(src="@scripts/main.js")