.popup-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 50px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    z-index: 1000;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    h2 {
      margin-bottom: 15px;
      width: 100%;
    }
  
    p {
      margin: 5px 0;
    }
  
    button {
      margin-top: 20px;
      border-radius: 20px;
      padding: 10px 20px;
      background-color: #007BFF;
      color: white;
      border: none;
      cursor: pointer;
    }
  
    button:hover {
      background-color: #0056b3;
    }
  }

  

.card__form--error {
    font-weight: bold;
    font-size: 0.74rem;
    border-radius: 15px;
    margin: 0;
    padding: 2px;
    padding-left: 15px;
}
