doctype html
html
    head
        title Recruitment Card Challenge
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body
        block content